.slider-container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    /* padding: 10px; */
}
.slick-slide img{
    width: 100%;
    height: 440px;
    object-fit: contain;
    border-radius:30px;
}
.slick-prev,
.slick-next {
    z-index: 3;
    font-size: 0px;
} 
.slick-prev {
    left: 5px;
}  
.slick-next {
    right: 5px;
}  
.slick-dots {
    bottom: 10px;
} 
.slick-dots li button:before {
    padding-top: 10px;
    font-size: 8px;
    color: rgb(19, 38, 65);
}
.slick-dots li.slick-active button:before {
    color: rgb(109, 134, 197);
}
@media (max-width:844px){
    .slick-slide img{
        width: 100%;
        height: 200px;
        object-fit: contain;
        border-radius:30px;
    }
    .slick-dots {
        bottom: 5px;
    } 
    .slick-dots li button:before {
        padding-top: 4px;
        font-size: 5px;
        color: rgb(19, 38, 65);
    }
    .slick-prev,
    .slick-next {
        z-index: 0;
        font-size: 0px;
    } 
}